html {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: white;
}

h1 {
  display: inline-block;
  margin-left: 30px;
}

.search {
  align-items: center;
  display: flex;
  float: right;
  justify-content: space-between;
  margin: 20px 50px;
  width: 600px;
}

#searchbar {
  font-size: 16px;
  height: 35px;
  width: 250px;
}

#searchbar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#header-background {
  display: inline;
  height: 500px;
  width: 100%;
}

button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin: 20px;
}

/* pantry display */
.pantry-display-section {
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
  column-count: 3;
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 11%;
  width: 45%;
  z-index: 1;
}

h2 {
  margin-left: 15px;
}

.pantry-active {
  background-color: lightblue;
}

.pantry-ingredients li {
  ;
  display: inline-block;
  padding-left: 1%;
}

/* filter recipe */
.filter-section {
  display: inline-block;
  margin-left: 2%;
  /* border: 1px solid blue; */
}

.filter-dropdown {
  cursor: pointer;
  /* padding: 0%;
  margin: 0%; */
  width: 95%;
  /* border: 1px solid yellow; */
}

.filter-dropdown:focus {
  width: 95%;
}

.filter-paragraph {
  font-size: 14px;
  margin-bottom: 2%;
  /* border: 1px solid green; */
}

.filter-section button {
  display: inline-block;
  margin: 2% 0%;
  width: 45%;
}

/* main */
main {
  background-color: rgb(242, 243, 239);
}

.recipe-list {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 90%
}

.recipe {
  background-color: lightblue;
  border-radius: 5px;
  flex-direction: column;
  height: auto;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 28%;
}

.recipe img {
  border-radius: 5px;
  width: 300px;
}

.recipe .checkbox {
  /* float: right; */
  margin-right: 5%;
  width: 20px;
  /* display: inline-block; */
}

.add-favorite-section {
  display: inline-flex;
  float: right;
  width: 100%;
  width: 100%;
}

.add-favorite-section p {
  cursor: default;
  margin-right: 1%;
}

.add-favorite-section button {
  background-color: #FFF;
  margin: 5%;
}

.recipe:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.recipe ul {
  list-style-type: circle;
  text-align: left;
}

.recipe ol {
  text-align: left;
}
