html {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: white;
}

h1 {
  display: inline-block;
  margin-left: 30px;
}

.search {
  align-items: baseline;
  display: flex;
  float: right;
  justify-content: space-between;
  margin: 20px 50px;
  width: 600px;
}

#searchbar {
  font-size: 16px;
  height: 35px;
  width: 250px;
}

#searchbar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#header-background {
  display: inline;
  height: 500px;
  width: 100%;
}

button {
  cursor: pointer;
}

/* pantry display */
.display-pantry-button {
  border-radius: 5px;
  font-size: 16px;
}

.pantry-display-section {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 11%;
  width: 45%;
  z-index: 1;
}

h2 {
  margin-left: 15px;
}

.pantry-active {
  background-color: lightblue;
}

.pantry-ingredients {
  column-count: 3;
}

.pantry-ingredients li {
  font-size: 12px;
  padding-left: 1%;
}

/* main */
main {
  background-color: rgb(242, 243, 239);
}

.recipe-list {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 90%
}

.recipe {
  background-color: lightblue;
  border-radius: 5px;
  flex-direction: column;
  height: auto;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 28%;
}

.recipe img {
  border-radius: 5px;
  width: 300px;
}

.recipe .checkbox {
  width: 20px;
  /* float: right; */
  margin-right: 5%;
  /* display: inline-block; */
}

.add-favorite-section {
  width: 100%;
  display: inline-flex;
  ;
  float: right;
  /* margin-right: 15%; */
}

.add-favorite-section p {
  margin-right: 1%;
  cursor: default;
}

.add-favorite-section button {
  background-color: #FFF;
  margin: 5%;
}

.recipe:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.recipe ul,
.recipe ol {
  text-align: left;
  list-style-type: circle;
}

d?
